body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 30px;
    margin-right: 30px;
}

header {
    background-color: midnightblue!;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: end;
}

#bio-container, #project-container, #contact-container{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: 10%;
    
}

h4{
    font-size: 32px;
}

#bio-container ul{
    margin: 20px;
}

h4, p{
    margin: 20px;
}

