body {
    background-color: midnightblue;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: end;
}
